.container {
  margin-top: 2.82vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2.95vh;
}

.period {
  width: 100%;
  display: flex;
  margin: -0.74vh 0;
  justify-content: space-between;
  align-items: center;
  color: #aeb8c4;
  font-size: 12px;
}

.period > div {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  border-radius: 20px;
}

.period > div:hover {
  cursor: pointer;
  color: #585b5e;
}

.active {
  color: #fff !important;
  background-color: #adb7c3;
}
